<% content_for :title do %>House<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="clock" data-view="Clock"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="sofalamp" data-view="Stdimmer" data-title="Sofa" data-device="Lounge Sofa"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="shelflamp" data-view="Stdimmer" data-title="Shelves" data-device="Lounge Shelves"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="dininglight" data-view="Stdimmer" data-title="Table" data-device="Dining Room"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="frontlamp" data-view="Stdimmer" data-title="Front Door" data-device="Front Door Light"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="kitchenlight" data-view="Stswitch" data-title="Kitchen" data-icon="lightbulb-o" data-device="Kitchen Ceiling"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="bedroomlamp" data-view="Stdimmer" data-title="Bedroom" data-device="Bedroom"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="weather" data-view="Stweather"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="mode" data-view="Stmode" data-title="Current Mode"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="nightmode" data-view="Stmodechange" data-title="Good Night" data-icon="moon-o" data-changemode="Night" data-phrase="Good Night!" data-countdown="15"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="daymode" data-view="Stmodechange" data-title="Good Morning" data-icon="sun-o" data-changemode="Home" data-phrase="Good Morning!"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="alllight" data-view="Stswitch" data-title="All" data-icon="lightbulb-o" data-device="All Loungs Lights"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="lrtemp" data-view="Sttemp" data-title="Living Room" data-device="Temperature Home"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="brtemp" data-view="Sttemp" data-title="Bedroom" data-device="Temperature Bedroom"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="odtemp" data-view="Sttemp" data-title="Outside" data-device="Outdoor Sensor"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="odhum" data-view="Sthumidity" data-title="Outside" data-device="Outdoor Sensor"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="odilum" data-view="Stilluminance" data-title="Outside" data-device="Outdoor Sensor"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="frontdoorcontact" data-view="Stcontact" data-title="Front Door" data-device="Front Door"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="patioldoorcontact" data-view="Stcontact" data-title="Patio Door L" data-device="Patio Door Left"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="patiordoorcontact" data-view="Stcontact" data-title="Patio Door R" data-device="Patio Door Right"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="acmode" data-view="Stswitch" data-title="Air Conditioning" data-icon="circle-o-notch" data-device="Auto"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="presencegareth" data-view="Stpresence" data-title="Gareth" data-device="Gareth Sensor"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="presencekate" data-view="Stpresence" data-title="Kate" data-device="Kate Sensor"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="presencefreddie" data-view="Stdpresence" data-title="Freddie" data-device="Freddie Sensor"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="brmotion" data-view="Stmotion" data-title="Bedroom" data-device="Bedroom Sensor"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="Changepage" data-icon="arrow-right" data-title="Entertainment Controls" data-page="2" data-stagger="false" data-fasttransition="true"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="reload" data-view="Reload"></div>
    </li>

  </ul>
</div>

<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="clock" data-view="Clock"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="tvcable" data-view="Stswitch" data-title="Time Warner Cable" data-icon="television" data-device="Cable"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="tvappletv" data-view="Stswitch" data-title="Apple TV" data-icon="apple" data-device="Apple TV"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="tvnetflix" data-view="Stswitch" data-title="Netflix" data-icon="film" data-device="Netflix"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="tvamazon" data-view="Stswitch" data-title="Amazon Prime" data-icon="amazon" data-device="Amazon Prime"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="radiobbc2" data-view="Stswitch" data-title="BBC Radio 2" data-icon="music" data-device="Radio 2"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="weather" data-view="Stweather"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="alloff" data-view="Stswitch" data-title="Off" data-icon="power-off" data-device="TV"></div>
    </li>

	  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cpage3" data-view="Changepage" data-icon="arrow-left" data-title="House Controls" data-page="1"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="reload" data-view="Reload"></div>
    </li>
 </ul>
</div>
