<% content_for :title do %>HADashboard<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="clock" data-view="Clock"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="weather" data-view="Stweather"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="sofalamp" data-view="Stdimmer" data-title="Sofa" data-device="Lounge Sofa"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="shelflamp" data-view="Stdimmer" data-title="Shelves" data-device="Lounge Shelves"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="dininglight" data-view="Stdimmer" data-title="Table" data-device="Dining Room"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="frontlamp" data-view="Stdimmer" data-title="Front Door" data-device="Front Door"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="bedroomlamp" data-view="Stdimmer" data-title="Bedroom" data-device="Bedroom"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="lrtemp" data-view="Sttemp" data-title="Living Room" data-device="Home Temperature Sensor Home"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="brtemp" data-view="Sttemp" data-title="Bedroom" data-device="Bedroom Sensor"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="odtemp" data-view="Sttemp" data-title="Outside" data-device="Outdoor Sensor"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="mode" data-view="Stmode" data-title="Current Mode"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="nightmode" data-view="Stmodechange" data-title="Good Night" data-icon="moon-o" data-changemode="Night" data-phrase="Good Night!" data-countdown="30"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="daymode" data-view="Stmodechange" data-title="Good Morning" data-icon="sun-o" data-changemode="Home" data-phrase="Good Morning!" data-countdown="30"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="frontdoorcontact" data-view="Stcontact" data-title="Front Door" data-device="Front Door"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="patioldoorcontact" data-view="Stcontact" data-title="Patio Door L" data-device="Patio Door Left"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="patiordoorcontact" data-view="Stcontact" data-title="Patio Door R" data-device="Patio Door Right"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="acmode" data-view="Stswitch" data-title="Air Conditioning" data-icon="circle-o-notch" data-device="Auto"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="presencegareth" data-view="Stpresence" data-title="Gareth" data-device="Gareth Sensor"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="presencekate" data-view="Stpresence" data-title="Kate" data-device="Kate Sensor"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="brmotion" data-view="Stmotion" data-title="Bedroom" data-device="Bedroom Sensor"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="Changepage" data-icon="arrow-right" data-title="Dashboard 2" data-page="2" data-stagger="false" data-fasttransition="true"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="reload" data-view="Reload"></div>
    </li>

  </ul>
</div>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="text2" data-view="Text" data-text="Entertainment Control" ></div>
    </li>
	  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cpage3" data-view="Changepage" data-icon="arrow-left" data-title="Back" data-page="1"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="reload" data-view="Reload"></div>
    </li>
 </ul>
</div>
